<!DOCTYPE html>
<html>
  <head>
    <title>Kalambury</title>
    <script> 
		var nick = '<%= nick %>';
		var id = '<%= id %>';
    </script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script src="/javascripts/draw.js"></script>
  </head>
  <body>
	<div class="navbar navbar-static-top">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="#">Kalambury</a>
		  <ul class="nav pull-right">
			<li><a href="/logout">Logout</a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="container">
		<div class="row" id="notes">
			<div class="alert alert-info text-center" hidden="true" id="info">
				<button type="button" class="close info" data-dismiss="alert">&times;</button>
				<p></p>
			</div>
			<div class="alert alert-error text-center" hidden="true" id="error">
				<button type="button" class="close error" data-dismiss="alert">&times;</button>
				<p></p>
			</div>
			<div class="alert alert-success text-center" hidden="true" id="success">
				<button type="button" class="close success" data-dismiss="alert">&times;</button>
				<p></p>
			</div>
		</div>
		<div class="row" id="content">
			<div class="span6" id="draw">
				<canvas id="area" width="450" height="400">
					
				</canvas>
			</div>
			<div class="span4" id="chat">
				<div class="input-append">
				  <input class="span2" id="appendedInputButton" type="text">
				  <button class="btn" type="button" id="send">Send</button>
				  <button class="btn" type="button" id="clear">Clear</button>
				  <button class="btn" type="button" id="drw">Draw!</button>
				</div>
				<table class="table table-condensed table-hover table-striped table-bordered">
					  <thead>
						<tr>
						  <th>Username</th>
						  <th>Message</th>
						</tr>
					  </thead>
					  <tbody id="chat">
						  
					  </tbody>
				</table>
			</div>
			<div class="span1" id="online">
				<table class="table table-condensed table-hover table-striped table-bordered">
					  <thead>
						<tr>
						  <th>Online</th>
						</tr>
					  </thead>
					  <tbody id="users">
						
					  </tbody>
				</table>
			</div>
		</div>
	</div>
  </body>
</html>

