<!DOCTYPE html>
<html>
  <head>
    <title>Kalambury</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
  </head>
  <body>
	<div class="navbar navbar-static-top">
	  <div class="navbar-inner">
		<div class="container">
		  <a class="brand" href="#">Kalambury</a>
		  <ul class="nav pull-right">
			<li><a href="/logout">Logout</a></li>
		  </ul>
		</div>
	  </div>
	</div>
	<div class="container">
		<%- body %>
	</div>
  </body>
</html>
